<div>
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Lottery Contract</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <a href="https://goerli.etherscan.io/address/{{ lotteryAddress }}" target="_blank">{{
          lotteryAddress
        }}</a>
      </h6>
      <p class="card-text"><strong>Purchase Ratio</strong>: {{ purchaseRatio }} LTO / ETH</p>
      <p class="card-text"><strong>Bet Price</strong>: {{ betPrice }} ETH</p>
      <p class="card-text"><strong>Bet Fee</strong>: {{ betFee }} ETH</p>
      <p class="card-text"><strong>Bets Open ?</strong>: {{ betsOpen }}</p>
      <p class="card-text"><strong>Closing Time</strong>: {{ betsClosingTime }}</p>
    </div>
  </div>
</div>
