<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Voting dApp</h1>
  <div class="col-lg-6 mx-auto">
    <div class="my-4"></div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <div class="container text-center">
        <div class="row align-items-start">
          <card-lottery-info class="col"></card-lottery-info>
          <card-lottery-token class="col"></card-lottery-token>
        </div>
        <connected-wallet-info class="col"></connected-wallet-info>
        <lottery-interactions class="col"></lottery-interactions>
        <owner-interactions class="col"></owner-interactions>
      </div>
    </div>
  </div>
</div>
